extensions:
    testLogger: UlovDomov\Logging\DI\LoggerExtension

testLogger:
    environment: 'test'
    openTelemetry:
        name: 'my-name'
        version: '1.0.0@beta'
        namespace: 'test-namespace'
        traces:
            type: 'file'
            url: %logDir%
        metrics:
            type: 'file'
            url: %logDir%
            prefix: 'test'
    tags:
        app: 'logger-tests'
