includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
#    - ../vendor/phpstan/phpstan-doctrine/extension.neon
#    - ../vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 9
    tmpDir: ../temp/.php-stan-cache
    resultCachePath: %currentWorkingDirectory%/temp/.php-stan-cache/resultCache.php
    paths:
        - ../src
        - ../tests
#    doctrine:
#        objectManagerLoader: ../.infrastructure/PHPStan/object-manager.php
    excludePaths:
        - ../src/Logging/Slim/TracesSlimLogger.php
        - ../src/Logging/OpenTelemetry/Metrics/* # todo: remove this line after fix Meter
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'LogicException'
            - 'PHPUnit\Framework\Exception'
        checkedExceptionClasses:
            - 'Exception'
    ignoreErrors:
        - '#Parameter \#2 \$attributes \(iterable<non-empty-string, array\|bool\|float\|int\|string\|null>\) of method .+ should be contravariant with parameter \$attributes \(iterable\) of method .+#'
        - '#Method UlovDomov\\Logging\\OpenTelemetry\\Resources\\Detectors\\.+::getResource\(\) throws checked exception Nette\\DI\\MissingServiceException but it.{1}s missing from the PHPDoc @throws tag\.#'
        - '#Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.#'
        - '#Parameter \#1 \$signal of static method OpenTelemetry\\Contrib\\Otlp\\OtlpUtil::path\(\) expects .+, string given\.#'
        - '#Parameter \#2 \$protocol of static method OpenTelemetry\\Contrib\\Otlp\\OtlpUtil::path\(\) expects .+, string given\.#'
